<!DOCTYPE html>
<html>
	<head>
	<title>{{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <meta name="author" content="Maria-Alexandra Radu">
    <link rel="author" href="https://linkedin.com/in/maradu">
    <link href="{{ site.url }}{{ page.url | remove: "index.html" }}" rel="canonical">
		
		
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		 <header class="site-header" role="banner">
      <div class="container">
        <a href="/" class="logo"><img src="https://github.com/AlexandraMMR/AlexandraMMR.github.io/blob/master/_assets/images/lexoctocat.png" alt="Alex Radu" class="site-logo"></a>

		<nav role="navigation">
          <ul class="site-nav">
            <li><a href="/about/">About</a>
	    <li><a href="/cv/">CV</a>
            <li><a href="/blog/">Blog</a>
          </ul>
        </nav>
		      </div>
    </header>

    {% if page.hero %}
      <div class="hero {% if page.big_hero %}big-hero{% endif %}" style="background-image: url({{ page.hero }});"></div>
    {% endif %}

    <div class="site-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        &copy; AlexandraMMR 2019
      </div>
    </footer>
	</body>
</html>
<!-- link to main stylesheet -->
