<!DOCTYPE html>
<html>
	<head>
	<title>{{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <meta name="author" content="Maria-Alexandra Radu">
    <link rel="author" href="https://linkedin.com/in/maradu">
    <link href="{{ site.url }}{{ page.url | remove: "index.html" }}" rel="canonical">
		
		
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		 <header class="site-header" role="banner">
      <div class="container">
        <img src="https://media.licdn.com/dms/image/C4D03AQEXRB8L8NsZGw/profile-displayphoto-shrink_200_200/0?e=1560384000&v=beta&t=gLGFOcUzVwpx5VGVDPLY82b4OSVmpk4ATpZ_y55RClc" alt="Alex Radu" style="border-radius: 50%; text-align:center;">

		<nav role="navigation">
          <ul class="site-nav">
	    <li><a href="/index.html/">Home</a>
            <li><a href="/about/">About</a>
	    <li><a href="/cv/">CV</a>
            <li><a href="/blog/">Blog</a>
          </ul>
        </nav>
		      </div>
    </header>

    {% if page.hero %}
      <div class="hero {% if page.big_hero %}big-hero{% endif %}" style="background-image: url({{ page.hero }});"></div>
    {% endif %}

    <div class="site-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        &copy; AlexandraMMR 2019
      </div>
    </footer>
	</body>
</html>
<!-- link to main stylesheet -->
